* {
    margin:0;
    padding:0;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    height:110px;
    width:100%;
    background: #fff;
    display:flex;
    justify-content:space-between;
}
.logo{
    
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform:uppercase;
    color:#000;
}
.left__menu{
    padding-left:80px;
    padding-top:29px;
    padding-bottom:28px;
    display:flex;
   
}
.right__menu{
    padding-top:37px;
    padding-right: 34px;
    display:flex;

}
.menu__link{
    text-decoration:none;
    color:#000;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    margin-right:46px;

}
.menu__link:hover{
    color:grey;
}
main{
    display:block;
}
.page1{
    background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1522x702");
    height:702px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;

}
.title{
    
    color:#fff;
    
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    text-transform:uppercase;
}
.center{
    display:block;

}
.line{
    margin-top:7px;
    width: 80px;
    height: 10px;
    background: #817070;
    margin-left:auto;
    margin-right:auto;

}
.page2{
    height:632px;
    width:100%;
    margin-top:0;
    background: #fff;
    

}
.titlenames{
    margin-left:auto;
    margin-right:auto; 
    padding-top:60px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    width: 91px;
    height: 53px;

    color: #000000;
}
.im__tx{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top:60px;
    margin-left:80px;
}

.image_first{
    width:100%;
    height:100%;
}
.story__image{
    width:600px;
    height:400px;

}
.descrip{
    width: 597px;
    height: 180px;
    margin-left:40px;
}
.page3{
    height:711px;
    width:100%;
    background: #EFEFEF;
}
.interaction{
    display:flex;

    margin-left:32px;
    margin-top:59px;

}
.box{ 
    background:#fff;
    margin-left:70px;
    width:365px;
    height:474px;
}
.image{
    width:325px;
    height:216px;
    margin:24px 20px;
}
.text{
    width: 325px;
    height: 108px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    
    margin-right:20px;
    margin-left:20px;
    margin-bottom:46px;
    position:absolute;
}
.headlight{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-left:20px;
    color: #000;
    margin-top:20px;
}
footer{
    height: 337px;
    width:100%;
    background:#817070;
    display: flex;
    justify-content: center;

}
.bottom{
    margin-top:60px;
    display:block;
    
    
    
}
.sub{
    margin-right:auto;
    margin-left:auto;
    width: 161px;
    height: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
 
}

    

.input{
    margin-top:37px;
    
    width: 300px;
    height: 55px;
    font-family:inherit;
    color:#fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px; 
    text-align:center;
    background: #817070;
    border: 3px solid #FFFFFF
    
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#fff;
    opacity: 1; /* Firefox */
  }
  .input:hover{
    color:#fff;
  }


  
  
  button{
  
   width: 129px;
   height: 55px;
   background: #fff;
   border: 3px solid #FFFFFF;
   margin-top:28px;
   margin-left:90px;
  
   


  }
  .sub__link{
    color:#817070;
    text-decoration:none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;


    text-align: center;
    text-transform: uppercase;

    color: #817070;
    width: 61px;
    height: 30px;
  }
  
  .copyright{
   
    width:100%;
    height:73px;
    background: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  .ending_copyright{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform:uppercase;
  }

  

  
  
  